---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
    <div class="content">
        <h1>404</h2>
        <h2>Not Found</h3>
    </div>
</DefaultLayout>
<style>
    .content {
        margin: 9em auto auto auto;
    }
    h1,
    h2 {
        text-align: center;
    }
</style>