---
import type { MarkdownHeading } from "astro";
import { generateToC } from "../utils/generateToC";
import TOCHeading from "./TOCHeading.astro";

interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToC(headings);
---

<aside>
    <div>
        <h4 class="title">Table of Contents</h2>
        <ul class="table">
            {toc.map((heading) => <TOCHeading heading={heading} />)}
        </ul>
    </div>
</aside>
<style>
    aside {
        max-height: 72vh;
        overflow-y: auto;
        font-size: 0.8em;
        line-height: 1;
        margin-top: 1rem;
        margin-left: 1rem;;
        flex-basis: 16rem;
        top: 3rem;
        position: sticky;
    }
    .title {
        position: sticky;
        top: 0;
        background-color: var(--background);
    }
    .table {
        padding: 0 0 0 0.5em;
        margin-block-start: 0;
        list-style: none;
    }
    @media (max-width: 720px) {
        aside {
            display: none;
        }
    }
    @media print {
        aside {
            display: none !important;
        }
    }
</style>
